# NOTE: If you add any dependensies (packages) to the project please define them here in the same manner. 
#       Add them by providing the package name and version in the same syntax, this way we can keep dependensies managable between memebers

# numpy == 2.2.0 let other packages handle numpy versioning
# giotto-tda == 0.6.2 # this package is not directly used, instead code from within this package is being used directly 
matplotlib == 3.10.0
ipykernel == 7.1.0
scikit-tda == 1.1.1
PyYAML == 6.0.2
torch == 2.9.1
LovelyPlots == 1.0.2
seaborn >= 0.12.0
scikit-learn >= 1.0.0
pandas >= 1.3.0
tqdm >= 4.66.0